@import "~normalize.css";

@import "_variables";
@import "modules/hello.scss";

body {
  background: $wtf;
  color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}
.form {
  display: flex;
  flex-direction: row;
  &__image {
    height: 70vh;
  }

  &__button {
    margin: 0px;
    width: 10vw;
    height: 10vh;
    border-radius: 10px;
    background-color: #c4c4c4;
  }
}
.h1 {
  justify-content: center;
}