@import "~normalize.css";

@import "_variables";
@import "modules/hello.scss";

.side {
  display: flex;
  align-items: right;
  justify-content: right;
  flex-direction: row;
}

body {
  background: $wtf;
  color: #fff;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  min-height: 100vh;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__image {
    height: 70vh;
  }

  &__button {
    margin: 10px;
    width: 15vw;
    height: 5vh;
    border-radius: 10px;
    background-color: #c4c4c4;
  }
  &__text {
    position: absolute;
    margin: 0 auto;
    z-index: 99;
    text-align: center;
    top: 60%;
    font-size: 8em;
  }
}
.h1 {
  justify-content: center;
}

